.question{
  display: flex;
  gap:10px;
  margin-top: 50px;
  margin-left: 50px;
}
h2{
  margin-left: 40%
}
.prev{
  margin-left: 40%;
  margin-top: 200px;
  border-radius: 30px;
  border: blue solid 1px;
}
button:hover{
 background-color: green;
 border: none;
}
.next{
  margin-left: 10px;
  border-radius: 30px;
  border: blue solid 1px;
}
